SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,testserver

DB_NAME=cnn-type-img
DB_USER=root
DB_PASSWORD=your_password_here
DB_HOST=127.0.0.1
DB_PORT=3306

MEDIA_URL=/media/
# Để trống MEDIA_ROOT sẽ dùng mặc định: my-project/media/
